<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/4-common.css') }}?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/3-header.css') }}?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/3-footer.css') }}?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/6-filters.css') }}?{{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/8-places.css') }}?{{ cache_id }}">
    <link rel="icon" href="{{ url_for('static',filename='images/icon.png') }}?{{ cache_id }}" />
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
    <SCRIPT type="text/javascript" src="{{ url_for('static',filename='scripts/3-hbnb.js') }}?{{ chache_id }}"></SCRIPT>
    <title>HBnB</title>
  </head>
<body>
    <header>
      <div class="logo"></div>
      <div id="api_status"></div>
    </header>
    <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            {% for state in states.values()|sort(attribute='name') %}
            <ul>
              <li>
                <h2>{{ state.name }}</h2>
                {% for city in state.cities|sort(attribute='name') %}
                <ul>
                  <li><div class="list_content">{{ city.name }}</div></li>
                </ul>
                {% endfor %}
              </li>
            </ul>
            {% endfor %}
          </div>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
            {% for amenity in amenities.values()|sort(attribute='name') %}
            <li>
              <input
                type="checkbox"
                data-id="{{ amenity.id }}"
                data-name="{{ amenity.name }}"
              />{{ amty.name }}
            </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
        <button type="button">Search</button>
      </section>
      <section class="places">
        <h1>Places</h1>
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
```
